*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Epunda Sans", sans-serif;
}


.page {
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1920&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

ul{
    list-style: none;
}
.layout{
    justify-self: center;
    padding: 20px;
    width:70%;
    /*height:50%;*/
    background-color: rgba(255,255,255,0.3);
    border-radius: 15px;
    position: absolute;
    top:70px;

}

 
.list{
    text-align: center;
}
.page h1{
    color:orange;
}
.info{
    margin-bottom: 30px;
    text-align: center;
}
#search{
    width:75%;
    border-radius: 25px;
    border:none;
    height:30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
}
.search{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
} 
h2{
    color: orange;
}
.circle{
    display: inline-block;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: palevioletred;
    margin-right: 30px;
   margin-top: 20px;
}
.bar{
    display: flex;
}
.days{
    display: flex;
    
    width:100%;
    justify-content: space-between;
}
#btn{
    height: 40px;
    width:120px;
    border-radius: 25px;
    border:none;
    font-weight: 600;
    background-color: orange;
}
ul li:first-of-type{
    color: orange;
}
#btn:hover{
    box-shadow: 10px 2px 10px 2px white;
}
.bar{
    margin-bottom: 40px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 9px;
    font-weight: 600;
    padding: 15px;
}
.day{
    display: flex;
    margin-right: 20px;
    width:20%;
    transition: transform 1s ease;
}
ul{
    
    background-color: rgba(0,0,0,0.4);
    margin-right: 20px;
    width:120px;
    padding: 10px;
    border-radius: 9px;
    color: white;
    text-align: center;
}
.day:hover{
    transform: scale(1.05);
}
/*RESPONSIVE*/


@media (max-width:600px){
    .days{
        flex-wrap: wrap;
    }
   .day{
    width:40%;
    margin-top: 15px;
   }
   .layout{
    margin-top: auto;
   
   }
    
}

/*FOOTER*/

footer{
    display: flex;
    height:50px;
    align-items: center;
    justify-content: center;
    background-color: #0C2B4E;
    font-weight: 600;
    color: white;
}